/* bottomnav_blue = 4095D1, bottomnav1_blue = E00F1C*/

.labelCompanyName {
	color: #0000FF;
}
.labelBranchName {
	color: #000000;
}
.labelUserName {
	color: #0000FF;
}

#topnav {
	BACKGROUND-COLOR: #E00F1C
}

#topnav DIV {
	BACKGROUND-COLOR: #FFE9ED
}

#topnav SPAN {
	BORDER-LEFT-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-COLOR: #666666;
	BORDER-BOTTOM-COLOR: #333399
}
#topnav SPAN SPAN {
	BACKGROUND-COLOR: #FFE9ED
	
}
#topnav SPAN A {
	COLOR: #666666
	
}

#topnav SPAN.selected {
	BORDER-TOP-COLOR: #333399;
}
/* 4095D1 */
#topnav SPAN.selected SPAN {
	BORDER-LEFT-COLOR: #333399;  BACKGROUND-COLOR: #E00F1C; BORDER-RIGHT-COLOR: #333399;
}

#topnav SPAN.selected A {
	COLOR: #FFE9ED
}
#topnav SPAN.hover {
	BORDER-LEFT-COLOR: #95b3de; BORDER-BOTTOM-COLOR: #95b3de; BORDER-TOP-COLOR: #95b3de; BORDER-RIGHT-COLOR: #95b3de
}
#topnav SPAN.hover SPAN {
	BORDER-LEFT-COLOR: #95b3de; BORDER-BOTTOM-COLOR: #95b3de; BORDER-TOP-COLOR: #95b3de; BACKGROUND-COLOR: #95b3de; BORDER-RIGHT-COLOR: #95b3de
}
#topnav SPAN.hover A {
	COLOR: #666666
}

.bottomnavrow {
	BACKGROUND-IMAGE: url(../imgs/bottomnav1_red.gif);BACKGROUND-COLOR: #E00F1C
}

/* darkblue = 003399, verylightblue = FFE9ED */

.bottomnavbottomborder {
BACKGROUND-COLOR: #258625
}

#bottomnav SPAN A {
	COLOR: #FFE9ED
	
}

#bottomnav A {
	BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: transparent; BORDER-TOP-COLOR: transparent;  BORDER-RIGHT-COLOR: transparent
}

#bottomnav A:hover {
	BORDER-LEFT-COLOR: #C60000; BORDER-BOTTOM-COLOR: #C60000; BORDER-TOP-COLOR: #C60000; BACKGROUND-COLOR: #FFE9ED; BORDER-RIGHT-COLOR: #C60000; COLOR: #C60000
}

.bottomnavhover {
	BORDER-LEFT-COLOR: #C60000; BORDER-BOTTOM-COLOR: #C60000; BORDER-TOP-COLOR: #C60000; BACKGROUND-COLOR: #FFE9ED; BORDER-RIGHT-COLOR: #C60000; COLOR: #C60000
}

<!-- -->
.menuDrop TD {
	BORDER-LEFT-COLOR: #C60000; BORDER-BOTTOM-COLOR: #C60000; COLOR: #C60000; BORDER-TOP-COLOR: #C60000; BACKGROUND-COLOR: #FFE9ED; BORDER-RIGHT-COLOR: #C60000
}


.menuDrop A:link {
	COLOR: #C60000;
}
.menuDrop A:visited {
	COLOR: #C60000;
}
.menuDrop A:active {
	COLOR: #C60000;
}
.menuDrop A:hover {
	COLOR: #C60000; BACKGROUND-COLOR: #FC959D
}


.menuDrophover {
	COLOR: #C60000; BACKGROUND-COLOR: #FC959D
}

/*
A.menuItem:link {
	COLOR: #B2B2B2; BACKGROUND-COLOR: #EAEAEA
}
A.menuItem:visited {
	COLOR: #B2B2B2; BACKGROUND-COLOR: #EAEAEA
}
A.menuItem:active {
	COLOR: #B2B2B2; BACKGROUND-COLOR: #EAEAEA
}
A.menuItem:hover {
	TEXT-DECORATION: bold; COLOR: #fff; BACKGROUND-COLOR: #333399
}

*/

.menuArrow {
	BACKGROUND-IMAGE: url(../imgs/menu-arrow-a.gif)
}
.menuArrow2 {
	BACKGROUND-IMAGE: url(../imgs/menu-arrow2-a.gif)
}

.copyright {
	BACKGROUND-IMAGE: url(../imgs/copyright1_red.gif); COLOR: #FFE9ED; BACKGROUND-COLOR: #E00F1C
}

