/**/

BODY {
	FONT-SIZE: 11px; BACKGROUND: #fff; COLOR: #000; /*FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif*/
}
/**/

.labelCompanyName {
	font-size: 17px;
	font-family: Calibri;
	font-weight: bold;
}
.labelBranchName {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.labelUserName {
	font-family: Calibri;
	font-weight: bold;
	font-size: 9px;
}

#topnav {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; MARGIN-TOP: 0.5em; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; HEIGHT: 24px; FONT-SIZE: 11px; FONT-FAMILY: Arial,Helvetica,sans-serif
}

#topnav DIV {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; HEIGHT: 21px
}


#topnav SPAN {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; DISPLAY: block; FLOAT: left; MARGIN: 0px 1px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; POSITION: relative; HEIGHT: 1.5em
}

#topnav SPAN SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.8em; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px -1px; PADDING-TOP: 3px; HEIGHT: auto; BORDER-RIGHT-WIDTH: 1px
}
#topnav SPAN {
	LEFT: -1px
}
#topnav SPAN SPAN {
	LEFT: 0px
}
#topnav A {
	TEXT-DECORATION: none
}

#topnav SPAN.selected {
	FONT-WEIGHT: bold; MARGIN-TOP: -0.4em; FONT-SIZE: 120%; BOTTOM: -4px
}

.bottomnavbottomborder {
HEIGHT: 21px;
}

#bottomnav {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-SIZE: 11px; FONT-FAMILY: Arial,Helvetica,sans-serif
}

#bottomnav SPAN {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; DISPLAY: block; FLOAT: left; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 0px; BORDER-RIGHT-WIDTH: 0px
}

#bottomnav A {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-BOTTOM: 1px solid;  BORDER-LEFT: 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-TOP: 1px; PADDING-BOTTOM: 1px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}

.bottomnavhover {
	visibility: hidden; 
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px;  BORDER-LEFT-WIDTH: 1px;
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-TOP: 1px; PADDING-BOTTOM: 1px;
}

#sidenav {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; HEIGHT: 15px; FONT-SIZE: 11px; FONT-FAMILY: Arial,Helvetica,sans-serif;PADDING-TOP: 0px;PADDING-BOTTOM: 0px
}

#sidenav DIV {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; HEIGHT: 19px;PADDING-TOP: 3px;PADDING-BOTTOM: 0px
}

/*
#sidenav SPAN {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; DISPLAY: block; FLOAT: left; MARGIN: 0px 1px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; POSITION: relative; HEIGHT: 1.5em
}
*/
#sidenav A {
	TEXT-DECORATION: none
}

#sidenav DIV.selected {
	FONT-WEIGHT: bold; FONT-SIZE: 120%;
}


<!-- -->

.menuDrop {
	Z-INDEX: 100; VISIBILITY: hidden; WIDTH: 120px; POSITION: absolute
}

.menuDropTdFirst {
	BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}

.menuDropTd {
	BORDER-TOP: 0px solid; BORDER-RIGHT: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}

.menuDropTdLast {
	BORDER-TOP: 0px solid; BORDER-RIGHT: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}

.menuDropTdFirstLast {
	BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}

.menuDrop A:link {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menuDrop A:visited {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menuDrop A:active {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menuDrop A:hover {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none
}

.copyrighttopborder {
HEIGHT: 19px;
}

.copyright {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}