	.treemain{
		background-color:#FFF4F6;
		BORDER-LEFT-COLOR: #EE667D; 
		BORDER-BOTTOM-COLOR: #EE667D; 
		BORDER-TOP-COLOR: #EE667D; 
		BORDER-RIGHT-COLOR: #EE667D;
	}

	.nodecls
	{
		color:#9A0203;
	}
