BODY {        FONT-SIZE: 11px; BACKGROUND: #fff; COLOR: #000; FONT-FAMILY: Courier New,Arial,Helvetica,sans-serif}
TD {        FONT-SIZE: 11px; FONT-FAMILY: Courier New,Arial,Helvetica,sans-serif}
.tableHead TD { FONT-WEIGHT: bold; BORDER-BOTTOM: 1px solid}
.tableHead1 {        FONT-WEIGHT: bold; BORDER-BOTTOM: 1px solid}
.tableHead2 {        FONT-WEIGHT: normal;}
.tableBox {        BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid}
.msgRow1 TD {        FONT-WEIGHT: bold; BORDER-BOTTOM: 1px solid}
.msgRow2 TD {        BORDER-BOTTOM: 1px solid}

A:link {        TEXT-DECORATION: none}
A:visited {        TEXT-DECORATION: none}
A:active {        TEXT-DECORATION: none}
A:hover {        TEXT-DECORATION: bold}

.labelHB { FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Courier New,Arial,Helvetica,sans-serif}
.labelrecpos { FONT-WEIGHT: bold; FONT-SIZE: 9px; FONT-FAMILY: Courier New,Arial,Helvetica,sans-serif}

.labelB { FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Courier New,Arial,Helvetica,sans-serif}

INPUT { FONT-SIZE: 11px; FONT-FAMILY: Courier New,Arial,Helvetica,sans-serif}
TEXTAREA { FONT-SIZE: 11px; FONT-FAMILY: Courier New,Arial,Helvetica,sans-serif}
INPUT.text { BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; HEIGHT: 15px}

A.button:link {        BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none}
A.button:visited {        BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none}
A.button:active {        BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none}
A.button:hover {        BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none}

A.buttoninactive:link {        BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none}
A.buttoninactive:visited { BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none}
A.buttoninactive:active { BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none}
A.buttoninactive:hover { BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none}

A:link {        BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000}
A:visited {        BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000}
A:active {        BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00}
A:hover {        BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00}

INPUT.text { BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #000}

A.button:link { FONT-WEIGHT: normal;        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #000; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #C0C0C0; BORDER-RIGHT-COLOR: #000}
A.button:visited {        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #000; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #C0C0C0; BORDER-RIGHT-COLOR: #000}
A.button:active {        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #000; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #C0C0C0; BORDER-RIGHT-COLOR: #000}
A.button:hover { FONT-WEIGHT: bold;        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #000; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #C0C0C0; BORDER-RIGHT-COLOR: #000}

A.buttoninactive:link { FONT-WEIGHT: normal;        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #808080; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #C0C0C0; BORDER-RIGHT-COLOR: #000}
A.buttoninactive:visited { FONT-WEIGHT: normal;        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #808080; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #C0C0C0; BORDER-RIGHT-COLOR: #000}
A.buttoninactive:active { FONT-WEIGHT: normal;        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #808080; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #C0C0C0; BORDER-RIGHT-COLOR: #000}
A.buttoninactive:hover { FONT-WEIGHT: normal; BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #808080; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #C0C0C0; BORDER-RIGHT-COLOR: #000}

.tableHead TD {        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000; COLOR: #000; BACKGROUND-COLOR: #C0C0C0}
.tableHead1 { COLOR: #000; BACKGROUND-COLOR: #C0C0C0}
.tableHead1 TD { BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000;  COLOR: #000; BACKGROUND-COLOR: #C0C0C0}
.tableHead2 {        COLOR: #000; BACKGROUND-COLOR: #C0C0C0}
.tableHead2 TD { FONT-SIZE: 9px;        COLOR: #000; BACKGROUND-COLOR: #C0C0C0}
.tableBox {        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000; BACKGROUND-COLOR: #fff}
.msgRow1 TD {        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000; COLOR: #000; BACKGROUND-COLOR: #fff}
.msgRow2 TD {        BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000; COLOR: #000; BACKGROUND-COLOR: #fff}