/**/
BODY {
	FONT-SIZE: 11px; BACKGROUND: #fff; COLOR: #000; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
/**/

#topnav {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; MARGIN-TOP: 0.5em; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; HEIGHT: 28px; FONT-SIZE: 11px; FONT-FAMILY: Arial,Helvetica,sans-serif
}

#topnav DIV {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; HEIGHT: 25px
}


#topnav SPAN {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; DISPLAY: block; FLOAT: left; MARGIN: 0px 1px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; POSITION: relative; HEIGHT: 1.5em
}

#topnav SPAN SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.8em; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px -1px; PADDING-TOP: 3px; HEIGHT: auto; BORDER-RIGHT-WIDTH: 1px
}
#topnav SPAN {
	LEFT: -1px
}
#topnav SPAN SPAN {
	LEFT: 0px
}
#topnav A {
	FONT-WEIGHT: bold
}

#topnav SPAN.selected {
	MARGIN-TOP: -0.4em; FONT-SIZE: 120%; BOTTOM: -3px
}

#successfactors {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; MARGIN-TOP: 0.5em; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; HEIGHT: 28px; FONT-SIZE: 11px; FONT-FAMILY: Arial,Helvetica,sans-serif
}



#bottomnav {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-SIZE: 11px; FONT-FAMILY: Arial,Helvetica,sans-serif
}

#bottomnav SPAN {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; DISPLAY: block; FLOAT: left; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 0px; BORDER-RIGHT-WIDTH: 0px
}

#bottomnav A {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-BOTTOM: 1px solid;  BORDER-LEFT: 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-TOP: 1px; PADDING-BOTTOM: 1px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}

.bottomnavhover {
	visibility: hidden; 
}

#sidenav {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; MARGIN-TOP: 0.5em; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; HEIGHT: 28px; FONT-SIZE: 11px; FONT-FAMILY: Arial,Helvetica,sans-serif
}

#sidenav DIV {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; HEIGHT: 25px
}


#sidenav SPAN {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; DISPLAY: block; FLOAT: left; MARGIN: 0px 1px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; POSITION: relative; HEIGHT: 1.5em
}

#sidenav SPAN SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.8em; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px -1px; PADDING-TOP: 3px; HEIGHT: auto; BORDER-RIGHT-WIDTH: 1px
}
#sidenav SPAN {
	LEFT: -1px
}
#sidenav SPAN SPAN {
	LEFT: 0px
}
#sidenav A {
	FONT-WEIGHT: bold
}

#sidenav SPAN.selected {
	MARGIN-TOP: -0.4em; FONT-SIZE: 120%; BOTTOM: -3px
}

<!-- -->

.menuDrop {
	Z-INDEX: 100; VISIBILITY: hidden; WIDTH: 120px; POSITION: absolute
}

.menuDropTdFirst {
	BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}

.menuDropTd {
	BORDER-TOP: 0px solid; BORDER-RIGHT: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}

.menuDropTdLast {
	BORDER-TOP: 0px solid; BORDER-RIGHT: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}

.menuDropTdFirstLast {
	BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}

.menuDrop A:link {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menuDrop A:visited {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menuDrop A:active {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menuDrop A:hover {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none
}

.copyright {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}