.divTableBox {        BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; BACKGROUND-COLOR: #F4FAFF; }
.divTableBoxHead {        BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; 	BACKGROUND-IMAGE: url(../imgs/bottomnav1_blue.gif); }

.tableBox {        BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; }

.tableBoxRow {BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073;}

.tableBoxSelectedRow { BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073;}

.tableBoxRow TD {BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073;font-size:14px; font-family:Arial, Helvetica, sans-serif}

.tableBoxSelectedRow TD { BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; }


.tableBoxFreeForm {        BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073;}

.tableBoxHead TD { BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; COLOR: #ffffff; BACKGROUND-COLOR: #2F3584; font-size:14px; font-family:Arial, Helvetica, sans-serif}

.tableBoxHead A { COLOR: #ffffff ;}

.tableBoxDataEntryAction TD { BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; COLOR: #ffffff; BACKGROUND-COLOR: #2F3584; font-size:13px; font-family:Arial, Helvetica, sans-serif}

.tableBoxDataEntryAction A { COLOR: #ffffff ;}

.tableBoxFoot TD { BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; COLOR: #ffffff; BACKGROUND-COLOR: #081073;}

.tableBoxSelectedRow TD { BACKGROUND-COLOR: #FFCF31; font-size:14px; font-family:Arial, Helvetica, sans-serif}

.tableBoxFoot A {}

.headRow TD { BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; COLOR: #ffffff; BACKGROUND-COLOR: #2F3584; font-size:14px; font-family:Arial, Helvetica, sans-serif}

.taskRow TD { BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; COLOR: #ffffff; BACKGROUND-COLOR: #081073;}

.taskRowFoot TD { BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; COLOR: #ffffff; BACKGROUND-COLOR: #C3DAF9;}

/*
.tableBoxRow TD {        BORDER-LEFT-COLOR: #081073; BORDER-BOTTOM-COLOR: #081073; BORDER-TOP-COLOR: #081073; BORDER-RIGHT-COLOR: #081073; COLOR: #081073; BACKGROUND-COLOR: #fff}
*/