	.treemain{
		background-color:#F4FAFF;
		BORDER-LEFT-COLOR: #66AAEE; 
		BORDER-BOTTOM-COLOR: #66AAEE; 
		BORDER-TOP-COLOR: #66AAEE; 
		BORDER-RIGHT-COLOR: #66AAEE;
	}

	.treemain2{
		background-color:#FFFFFF;
		BORDER-LEFT-COLOR: #66AAEE; 
		BORDER-BOTTOM-COLOR: #66AAEE; 
		BORDER-TOP-COLOR: #66AAEE; 
		BORDER-RIGHT-COLOR: #66AAEE;
	}
	
	.nodecls
	{
		color:#003399;
	}
