	.treemain{
		background-color:#FFE9ED;
		BORDER-LEFT-COLOR: #F6293D; 
		BORDER-BOTTOM-COLOR: #F6293D; 
		BORDER-TOP-COLOR: #F6293D; 
		BORDER-RIGHT-COLOR: #F6293D;
	}

	.nodecls
	{
		color:#C60000;
	}
