	.treemain{
		background-color:#E8FFC6;
		BORDER-LEFT-COLOR: #5C743D; 
		BORDER-BOTTOM-COLOR: #5C743D; 
		BORDER-TOP-COLOR: #5C743D; 
		BORDER-RIGHT-COLOR: #5C743D;
	}

	.nodecls
	{
		color:#5C743D;
	}
